header {
    background-color: rgb(24, 24, 24); /* Black background for the header */
    color: white;
    padding: 0;
    text-align: center;
    width: 100%; /* Ensure the header spans the full width */
}

nav {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    width: 100%; /* Ensure the nav spans the full width */
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em; /* Add some spacing between the nav items */
}

nav ul li a {
    color: white; /* Ensure the nav links are white */
    text-decoration: none;
    font-weight: bolder; /* Make the font bolder */
    font-size: 1.4em; /* Increase the font size */
}

nav ul li a:hover {
    color: #aa4e9b;
}
